---
const { logo, title, location, date } = Astro.props;
---

<div class="flex flex-row mb-4">
  <div class="relative h-[80px] min-w-[80px] bg-slate-300 rounded-lg">
    <div class="absolute mx-2.5 my-2.5">
      <img src={logo} alt={title} />
    </div>
  </div>
  <div class="flex flex-col pl-4">
    <h2 class="text-xl font-bold text-gray-900 dark:text-slate-300">
      {title}
    </h2>
    <h3 class="text-lg text-gray-800 dark:text-slate-500">{location}</h3>
    <h4 class="text-sm text-gray-800 dark:text-slate-500">{date}</h4>
  </div>
</div>
