---
import {
  IconJS,
  IconTailwind,
  IconAstro,
  IconAstroDark,
  IconReact,
  IconNext,
  IconVite,
} from "~/components/icons";
import ProyectoPlantilla from "~/assets/images/plantilla-proyecto.png";
import ProyectoWeatherNextApp from "~/assets/images/weather-next-app.png";
import ProyectoToDoReact from "~/assets/images/todo-react.png";
import ProyectoPortfolio from "~/assets/images/proyecto-portfolio.png";
import ProyectoTabgha from "~/assets/images/tabgha.png";
import Picture from "~/components/core/Picture.astro";
import ButtonsProjects from "../core/ButtonsProjects.astro";
import Contentful from "../icons/Contentful.astro";
const {} = Astro.props;
---

<section id="proyectos" class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div
    class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 px-6"
  >
    <h1
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      Proyectos
    </h1>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Estos son algunos de mis proyectos
    </p>
  </div>
  <div class="grid mx-auto gap-4 space-y-6 md:grid-cols-2 md:space-y-0">
    <article
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-100 dark:bg-slate-800 rounded-xl"
    >
      <div class="flex flex-col max-w-md">
        <a
          href="https://pirineos.danik.dev/"
          class="hover:scale-105 duration-150 hover:contrast-[1.1]"
          target="_blank"
        >
          <Picture
            src={ProyectoWeatherNextApp}
            class="pointer-events-none select-none"
            widths={[1000, 500]}
            sizes=" (max-width: 420px) 1000, 500px"
            alt="Pirineos Parallax"
            aspectRatio="18:9"
          />
        </a>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Pirineos Parallax
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconReact />
          <IconVite />
          <IconTailwind />
        </div>
        <p class="my-4">
          Galería de imágenes de los Pirineos con efecto parallax al pasar el
          ratón sobre ellas. Creada con React, Vite, TailwindCSS y con el
          paquete de Atropos para el efecto parallax.
        </p>
        <ButtonsProjects
          hrefView={"https://pirineos.danik.dev/"}
          target="_blank"
          hrefCode={"https://github.com/DaniKOrdo/pirineos-parallax"}
          hrefInfo="#Próximamente"
          opacityInfo="opacity-50 cursor-default resetHover"
        />
      </div>
    </article>

    <article
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-100 dark:bg-slate-800 rounded-xl"
    >
      <div class="flex flex-col max-w-md">
        <a
          href="https://weather-next-app.danik.dev/"
          class="hover:scale-105 duration-150 hover:contrast-[1.1]"
          target="_blank"
        >
          <Picture
            src={ProyectoWeatherNextApp}
            class="pointer-events-none select-none"
            widths={[1000, 500]}
            sizes=" (max-width: 420px) 1000, 500px"
            alt="Weather App"
            aspectRatio="18:9"
          />
        </a>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Weather Next App
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconReact />
          <div class="hidden dark:block"><IconNext fill="#fff" /></div>
          <div class="dark:hidden"><IconNext /></div>
          <IconTailwind />
        </div>
        <p class="my-4">
          Aplicación del tiempo creada con NextJS y TailwindCSS. Usa la API de
          WeatherAPI en RapidAPI para obtener los datos del tiempo y la API de
          Unsplash para obtener la imagen de fondo de la ciudad.
        </p>
        <ButtonsProjects
          hrefView={"https://weather-next-app.danik.dev/"}
          target="_blank"
          hrefCode={"https://github.com/DaniKOrdo/weather-next-app"}
          hrefInfo="#Próximamente"
          opacityInfo="opacity-50 cursor-default resetHover"
        />
      </div>
    </article>

    <article
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-100 dark:bg-slate-800 rounded-xl"
    >
      <div class="flex flex-col max-w-md">
        <a
          href="/projects/to-do-react"
          class="hover:scale-105 duration-150 hover:contrast-[1.1]"
        >
          <Picture
            src={ProyectoToDoReact}
            class="pointer-events-none select-none"
            widths={[1000, 500]}
            sizes=" (max-width: 420px) 1000, 500px"
            alt="To-Do React"
            aspectRatio="18:9"
          />
        </a>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          To-Do React
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconReact />
          <IconTailwind />
        </div>
        <p class="my-4">
          Pequeña aplicación de tareas creada con React y TailwindCSS. Usa el
          LocalStorage para guardar las tareas y el estado de la aplicación.
          Tiene pequeños detalles como la fecha actual, animaciones y confetti
          al completar todas las tareas.
        </p>
        <ButtonsProjects
          hrefView={"/projects/to-do-react"}
          target="_self"
          hrefCode={"https://github.com/DaniKOrdo/danik.dev-astro/tree/master/src/pages/projects/to-do-react"}
          hrefInfo="#Próximamente"
          opacityInfo="opacity-50 cursor-default resetHover"
        />
      </div>
    </article>

    <article
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-100 dark:bg-slate-800 rounded-xl"
    >
      <div class="flex flex-col max-w-md">
        <a
          href="https://www.tabgha.es/"
          target="_blank"
          class="hover:scale-105 duration-150 hover:contrast-[1.1]"
        >
          <Picture
            src={ProyectoTabgha}
            class="pointer-events-none select-none"
            widths={[1000, 500]}
            sizes=" (max-width: 420px) 1000, 500px"
            alt="Tabgha Chiringuito Solidario"
            aspectRatio="18:9"
          />
        </a>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Tabgha | Chiringuito Solidario
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <div class="hidden dark:block"><IconAstro /></div>
          <div class="dark:hidden"><IconAstroDark /></div>
          <IconTailwind />
          <IconJS />
          <Contentful />
        </div>
        <p class="my-4">
          Página web creada con Astro y TailwindCSS para el Chiringuito
          Solidario de Portals Nous. Mi objetivo era crear un sitio
          multi-idioma, con diseño responsive, buen SEO y performance. También
          he implementado una sección de noticias dinámica, con un headless CMS
          para que puedan actualizarla fácilmente.
        </p>
        <ButtonsProjects
          hrefView="https://www.tabgha.es/"
          target="_blank"
          opacityCode="opacity-50 cursor-default resetHover"
          opacityInfo="opacity-50 cursor-default resetHover"
        />
      </div>
    </article>

    <article
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-100 dark:bg-slate-800 rounded-xl"
    >
      <div class="flex flex-col max-w-md">
        <a
          href="https://danik.dev/"
          class="hover:scale-105 duration-150 hover:contrast-[1.1]"
        >
          <Picture
            src={ProyectoPortfolio}
            class="pointer-events-none select-none"
            widths={[1000, 500]}
            sizes=" (max-width: 420px) 1000, 500px"
            alt="Portfolio"
            aspectRatio="18:9"
          />
        </a>
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Portfolio
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <div class="hidden dark:block"><IconAstro /></div>
          <div class="dark:hidden"><IconAstroDark /></div>
          <IconTailwind />
        </div>
        <p class="my-4">
          Este es mi portfolio, la página que estás viendo ahora mismo. He
          querido hacerlo simple y minimalista, con un diseño responsive, con un
          buen SEO y performance. Para ello he utilizado el framework Astro y el
          preprocesador TailwindCSS.
        </p>
        <ButtonsProjects
          hrefView={"https://danik.dev/"}
          target="_self"
          hrefCode={"https://github.com/DaniKOrdo/danik.dev-astro"}
          hrefInfo="#Próximamente"
          opacityInfo="opacity-50 cursor-default resetHover"
        />
      </div>
    </article>
  </div>
</section>
