---
import AcademyBlock from "../core/AcademyBlock.astro";
import GraduationSVG from "~/assets/images/logos/graduation.svg";
import UdemySVG from "~/assets/images/logos/udemy.svg";
import FccSVG from "~/assets/images/logos/fcc.svg";
const {} = Astro.props;
---

<section
  id="experiencia"
  class="px-4 mx-auto max-w-6xl lg:px-8 bg-blue-100 dark:bg-slate-800 rounded-xl"
>
  <div
    class="grid gap-8 md:gap-0 md:grid-cols-2 px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl"
  >
    <div class="md:pr-16 text-gray-900 dark:text-gray-200">
      <h1
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8"
      >
        Experiencia
      </h1>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2 bg-blue-300"
            >
              <div class="pulse-base border-blue-300"></div>
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-gray-900 dark:text-slate-300">
              Frontend Developer
            </h2>
            <h3 class="mb-1 text-lg text-gray-800 dark:text-slate-400">
              Axis Data
            </h3>
            <h4 class="mb-1 text-sm text-gray-800 dark:text-slate-400">
              Oct 2022 - Actual
            </h4>
            <div class="pl-4">
              <p>- Desarrollo con JavaScript y Sencha como framework</p>
              <p>- Automatización de tests con Cypress y Playwright</p>
              <p>
                - Mejoré en un 90% la velocidad de los test y aumenté su
                fiabilidad gracias a mi iniciativa de investigación y mi
                propuesta de implementar Playwright como una alternativa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-gray-900 dark:text-slate-300">
              Desarrollador Full Stack & Sistemas
            </h2>
            <h3 class="mb-1 text-lg text-gray-800 dark:text-slate-400">
              SNTec
            </h3>
            <h4 class="mb-1 text-sm text-gray-800 dark:text-slate-400">
              Oct 2021 - Sep 2022 · 1 año
            </h4>
            <div class="pl-4">
              <p>- Desarrollo con JavaScript, PHP y SQL</p>
              <p>- WordPress y PrestaShop</p>
              <p>- Gestión del servidor Apache</p>
              <p>- Mantenimiento de infraestructuras</p>
              <p>- Gestión de servidores</p>
              <p>- Backup, gestión de archivos y usuarios</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-gray-900 dark:text-slate-300">
              Frontend Developer
            </h2>
            <h3 class="mb-1 text-lg text-gray-800 dark:text-slate-400">
              Windnova Systems S.L
            </h3>
            <h4 class="mb-1 text-sm text-gray-800 dark:text-slate-400">
              Mar 2021 - Jun 2021 · 4 meses
            </h4>
            <div class="pl-4">
              <p>Contrato de prácticas en el que he realizado y aprendido:</p>
              <p>- Desarrollo con JavaScript, PHP y SQL</p>
              <p>- Gestión de tickets con Jira Software</p>
              <p>- Bases de Datos con MySQL</p>
              <p>- Control de versiones con Git flow</p>
              <p>- Docker</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div
        class="w-px h-full bg-gray-300 dark:bg-slate-500 md:block hidden md:mr-6"
      >
      </div>
      <div class="text-gray-900 dark:text-gray-200">
        <h1
          class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8"
        >
          Formación
        </h1>

        <AcademyBlock
          logo={GraduationSVG}
          title={"Desarrollo de Aplicaciones Web"}
          location={"Es Liceu"}
          date={"2021 - 2022 *(Finalizado el primer curso)"}
          style="background: linear-gradient(to right bottom, #cbd5e1 50%, #AEB7C2 50%);"
        />
        <AcademyBlock
          logo={GraduationSVG}
          title={"Administración de Sistemas Informáticos en Red"}
          location={"San José Obrero"}
          date={"2019 - 2021"}
        />

        <h2
          class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-8 mt-3"
        >
          Certificaciones
        </h2>
        <AcademyBlock
          logo={UdemySVG}
          title={"Bootstrap 4 Ultimate Guide 2022"}
          location={"Udemy"}
          date={"2022"}
        />
        <AcademyBlock
          logo={UdemySVG}
          title={"Modern JavaScript for React JS - ES6"}
          location={"Udemy"}
          date={"2022"}
        />
        <AcademyBlock
          logo={FccSVG}
          title={"JavaScript Algorithms and Data Structures"}
          location={"freeCodeCamp"}
          date={"2022"}
        />
        <AcademyBlock
          logo={FccSVG}
          title={"Responsive Web Design"}
          location={"freeCodeCamp"}
          date={"2022"}
        />
      </div>
    </div>
  </div>
</section>
